@font-face {
    font-family: "iconfont"; /* Project id 2691838 */
    src: url('iconfont.woff2?t=1627295597872') format('woff2'),
         url('iconfont.woff?t=1627295597872') format('woff'),
         url('iconfont.ttf?t=1627295597872') format('truetype');
  }

[class*='din-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.din-icon-eyes:before {
    content: "\e7ae";
}
  
.din-icon-zhekouquan:before {
    content: "\f294";
}

.din-icon-close:before {
  content: "\e653";
}

.din-icon-Vector:before {
  content: "\e7ab";
}

.din-icon-search:before {
  content: "\e6d0";
}

.din-icon-Serviceusers:before {
  content: "\e60d";
}

.din-icon-food:before {
  content: "\f03e";
}

.din-icon-food1:before {
  content: "\e668";
}

.din-icon-streamlist:before {
  content: "\e632";
}

