@font-face {
  font-family: "iconfont"; /* Project id 2691838 */
  src: url('iconfont.woff2?t=1626969559310') format('woff2'),
       url('iconfont.woff?t=1626969559310') format('woff'),
       url('iconfont.ttf?t=1626969559310') format('truetype');
}

[class*='din-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.din-icon-close:before {
  content: "\e653";
}

.din-icon-Vector:before {
  content: "\e7ab";
}

.din-icon-search:before {
  content: "\e6d0";
}

.din-icon-Serviceusers:before {
  content: "\e60d";
}

.din-icon-food:before {
  content: "\f03e";
}

.din-icon-food1:before {
  content: "\e668";
}

.din-icon-streamlist:before {
  content: "\e632";
}

